{% extends "templates/teacherbase.twig" %}

{% block title %} Edit/Delete {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="/assets/styles/addBook.css" type="text/css"/>
{% endblock %}

{% block body %}
 <div class="overlay-main"></div>
    <section class="main">
        <form class="main-inner" enctype="multipart/form-data" method="POST" action="/teacher/edit?id={{ book.id }}">
            <h3>Edit/Delete</h3>
            <div class="form-input">
                <label for="bookName">Book Name</label>
                <input type="text" name="bookName" id="" placeholder="Enter Book name" value="{{ book.name }} ">
            </div>
            <div class="form-input">
                <label for="authorName">Author Name</label>
                <input type="text" name="authorName" id="" placeholder="Enter Author name" value="{{ book.author }} ">
            </div>            
            <div class="form-input">
                <label for="genre">Book Genre</label>
                <input type="text" name="genre" id="" placeholder="Genre (enter space separated values in case of multiple)" value="{{ book.genre }} ">
            </div>            
            <div class="form-input">
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="" placeholder="Quantity" value="{{ book.quantity }} ">
            </div>
            <div class="form-input">
                <label for="image">Image</label>
                <input type="file" accept=".jpg,.jpeg,.png" name="image">
            </div>
            <div class="form-input">
                <input type="submit" value="Save" class="btn">
            </div>
            <div class="form-input">
                <a href="/teacher/delete?id={{ book.id }} " class="btn" id="del">Delete</a>
            </div>
        </form>
    </section>
{% endblock %}

{% block scripts %}
<script src="/assets/scripts/search-t.js"></script>
{% endblock %}
