{% extends "templates/teacherbase.twig" %}

{% block title %} Requests {% endblock %}

{% block styles %} 
    <link rel="stylesheet" href="/assets/styles/teacherHome.css" type="text/css"/>
{% endblock %}

{% block body %}
 <div class="overlay-main"></div>
    <section class="main">
      <div class="main-inner">
        {% for request in requests %}
          <div class="book">
            <div class="book-image">
              <img src="/assets/images/uploads/{{ request.image }} " alt="">
            </div>
            <div class="book-inner">
              <div class="book-info">
                <h2>{{ request.book }}</h2>
                <h3>User- {{ request.name }}</h3>
                <h3>Available Quantity- {{ request.quantity }}</h3>
                <p>Transaction ID- {{ request.id }}</p>
                <p style="color: green;">Status - {{ request.status }} </p>
                {% if request.status=="issued" %} 
                  <p style="color: green;">Issue Date - {{ request.issue_date }}  </p>
                {% endif %}
                {% if request.status=="returned" %}
                  <p style="color: green;">Return Date - {{ request.return_date }}  </p>
                {% endif %}
              </div>
              {% if request.status=="pending" %}
              <div class="checkout">
                <a href="/teacher/approve?id={{ request.id }} " class="checkout-btn">Approve</a>
                <a href="/teacher/decline?id={{ request.id }} " class="checkout-btn" style="background-color: red; margin-left: 30px;">Decline</a>
              </div>
              {% endif %} 
            </div>
          </div>
          {% endfor %}
      </div>
    </section>
{% endblock %}

{% block scripts %}
<script src="/assets/scripts/search-t.js"></script>
{% endblock %}
